@import url("./css/colors.css");
@import url("./css/reset.css");

header {
  padding-block: 1rem;
  /* background-color: aquamarine; */
}
article {
  background-color: var(--color-turquoise-300);
  padding-block: 2rem;
  padding-inline: 2rem;
}
.wrapper {
  background-color: var(--color-orange-300);
  border-radius: 0.5rem;
}
h1 {
  position: relative;
  text-align: center;
  display: block;
  font-size: 2.5rem;
}

.filters {
  position: sticky;
  top: 1rem;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  column-gap: 0.5rem;
  z-index: 2;
}
.filter {
  padding-block: 0.25rem;
  font-size: 0.5rem;
  grid-column: span 2;
  background-color: var(--color-orange-200);
  border-collapse: collapse;
  border: 0px solid rgba(0, 0, 0, 0.179);
  transition: transform 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.larger {
  grid-column: span 3;
}
.fire-btn {
  grid-column: span 4;
}
.filter:hover {
  box-shadow: 0px 0px 2px 1rem var(--color-orange-200);
  background-color: var(--color-orange-400);
  transform: scale(1.2);
}
.filter:focus {
  transform: scale(1);
  box-shadow: 0px 0px 0px 0rem var(--color-orange-200);
}
.pre-choose.pre-choose {
  transition: none;
  transform: none;
  box-shadow: none;
  cursor: default;
  background-color: transparent;
}
.filter-wrapper {
  position: absolute;
  display: grid;
  background-color: var(--color-orange-300);
  top: 3rem;
}
.filter-wrapper button {
  background-color: transparent;
  border: 3px solid var(--color-orange-400);
  border-bottom: solid var(--color-yellow-300);
  border-inline-end: solid var(--color-yellow-300);
  cursor: pointer;
}
.toFireChosen.toFireChosen {
  cursor: pointer;
  background-color: var(--color-turquoise-400);

  /* transition: transform 0.3s ease;
  transition: 0.3s ease; */
}
.toFireChosen.toFireChosen:hover {
  transform: scale(2);
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 2px 1rem var(--color-orange-200);
}
table {
  position: relative;
  left: 5%;
  border-collapse: collapse;
  width: 90%;
}
td {
  padding-block: 1rem;
  padding-left: 0.5rem;
}

.fixed {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  z-index: 99999;
}
.absolut {
  position: absolute;
  bottom: 0;
  right: 2rem;
}
.relative {
}
.emoji {
  cursor: pointer;
}

.hidden {
  display: none;
}

.choose-btn {
  background-color: transparent;
  border: 0px;
  padding-bottom: 5px;
  font-size: 1rem;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
}
.choose-btn:hover {
  background-color: bisque;
  color: rgb(6, 244, 6);
}
.chosenOne {
  background-color: var(--color-orange-400);
  border: 1rem solid var(--color-turquoise-400);
}

.update-emoji {
  position: relative;
}

.warning {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: 1rem;
  z-index: 1;
  font-size: small;
}
form {
  background-color: var(--color-orange-300);
}

input {
  background-color: transparent;
  border: 3px solid var(--color-orange-400);
  border-bottom: solid var(--color-yellow-300);
  border-inline-end: solid var(--color-yellow-300);
  margin-bottom: 0.25rem;
}
.h-form {
  text-align: center;
  color: var(--color-yellow-300);
  font-size: large;
}
form button {
  background-color: transparent;
  border: 3px solid var(--color-orange-400);
  border-bottom: solid var(--color-yellow-300);
  border-inline-end: solid var(--color-yellow-300);
  cursor: pointer;
}
form button:hover {
  transform: scale(1.1);
}

input::placeholder {
  color: var(--color-turquoise-100);
}
input:focus::placeholder {
  color: black;
}
@media (max-width: 460px) {
  html {
    font-size: 15px;
  }
  .wrapper {
    border-radius: 0rem;
  }
  article {
    padding: 0px;
  }
  tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  tr td:last-child {
    grid-column: span 2;
    text-align: right;
  }
}

@media (min-width: 625px) {
  article {
    padding-inline: 6rem;
    padding-block: 3rem;
  }
}
