@import url("./css/reset.css");

.img-container {
  background-color: green;
  max-height: 300px;
  max-width: 300px;
  border-radius: 1rem;
  overflow: hidden;
}
.body-container {
  background-color: aquamarine;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 3rem;
}
h1 {
  color: blueviolet;
}
