:root {
  --color-blue-50: #b7e0ff;
  --color-blue-300: #5eb7fb;
  --color-blue-600: #0792fd;

  --color-yellow-50: #fff5cd;
  --color-yellow-100: #fbe99f;

  --color-orenge-100: #ffcfb3;
  --color-orenge-150: #ffc19e;

  --color-orenge-300: #e0a79f;
  --color-orenge-400: #e78f81;
  --color-orenge-500: #e77b6a;
}
