* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}
body {
  background-color: aqua;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding-left: 0.5rem;
}
