:root {
  --color-turquoise-50: #e7f2f8;
  --color-turquoise-100: #b7e2f9;
  --color-turquoise-300: #74bdcb;
  --color-turquoise-400: #53b8cd;

  --color-yellow-100: #f0ecda;
  --color-yellow-200: #efe7bc;
  --color-yellow-300: #f5e89d;

  --color-orange-200: #fdbda7;
  --color-orange-300: #ffa384;
  --color-orange-400: #fe7648;
}
